@{ 
    Layout = "_Layout";
}
<main class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-dark main-heading"><i class="fas fa-code"></i> DevGaints</h1>
            <p class="intro-text">Excell your skills by becoming part of Pakistan's most famous Software Company</p>
            <a href="/JobApplication" class="btn btn-danger btn-lg">Apply for Job</a>
        </div>
        <div class="col-md-6 side-img d-md-block"></div>
    </div>
</main>